// device widths

$tabletWidth: 768px;
$desktopWidth: 1200px;

// background colors

$mainBackgroundColor: #84A59D;
$secondaryBackgroundColor: #F7EDE2;

// font colors

$mainFontColor: white;
$secondaryFontColor: black;
