// device widths

$tabletWidth: 768px;
$desktopWidth: 1200px;

// background colors

$mainBackgroundColor: #84A59D;
$secondaryBackgroundColor: #F7EDE2;
$specialBackgroundColor: #F6BD60;
$descriptionBackgroundColor: rgba(255, 255, 255, 0.6);

// font colors

$mainFontColor: white;
$secondaryFontColor: black;

// button colors

$mainButtonColor: #F28482;
