@import '../../global-styles/styles.scss';

.visual {
    background-color: $secondaryBackgroundColor;
    width: 100%;
    height: 60vh;
    padding: 2%;
    overflow: scroll;
    @include tablet {
        width: 60vw;
        height: 90vh;
        border-top-left-radius: 15px;
    }
}