@import '../LevelOne/LevelOne.scss';

.level {
    &__manta-ray {
        width: 40px;
    }
    &__hat {
        @extend .level__manta-ray;
        margin: 0 5px;
    }
    &__manta-ray-hat {
        @extend .level__manta-ray;
        width: 50px;
        &--dance {
            animation: dance 5s infinite alternate;
        }
    }
    &__code {
        &--input {
            width: 165px;
        }
    }
}

@keyframes dance {
    0% {
        transform: translateX(-10px);
    }
    20% {
        transform: translateX(10px);
    }
    25% {
        transform: translateX(0);
    }
    30% {
        transform: translateY(10px);
    }
    40% {
        transform: translateY(-10px);
    }
    45% {
        transform: translateY(0);
    }
    50% {
        transform: rotateX(30deg);
    }
    60% {
        transform: rotateY(50deg);
    }
    80% {
        transform: rotateX(40deg);
    }
    90% {
        transform: translateX(10px);
        transform: translateY(10px);
    }
    100% {
        transform: translateX(0);
        transform: translateY(0);
    }
}