@import '../LevelOne/LevelOne.scss';

.level {
    &__manta-ray {
        width: 40px;
    }
    &__hat {
        @extend .level__manta-ray;
        margin: 0 5px;
    }
    &__code {
        &--input {
            width: 165px;
        }
    }
}